<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="Rut" type="cl.cerrocolorado.recob.utils.Rut" />
        <package name="cl.cerrocolorado.recob.to" />
    </typeAliases>

    <mappers>
        <mapper resource="cl/cerrocolorado/recob/po/map/RecobMap.xml" />
    </mappers>
</configuration>
